@import 'tailwindcss';
@import './colors.css';
@import './typography.css';
@import './theme.css';

@plugin "@designbycode/tailwindcss-text-stroke";

body {
  @apply font-inter;
  @apply bg-black-pearl;
  @apply text-white;
  @apply leading-xl;
}

@supports (height: 1dvh) {
  :root {
    --dvh: 1dvh;
  }
}

@layer utilities {
  .fade-from-top-bottom {
    mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, transparent 100%);
  }
}

@keyframes bounce-up {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-4px);
  }
}

@keyframes bounce-right {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(4px);
  }
}
