@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
  @apply bg-black-pearl;
  @apply text-white;
}

@layer utilities {
  .text-stroke-none {
    -webkit-text-stroke-width: 0;
  }
  .text-stroke-1 {
    -webkit-text-stroke-width: 1px;
  }

  .text-stroke-white {
    -webkit-text-stroke-color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .text-stroke-black {
    -webkit-text-stroke-color: rgb(0 0 0 / var(--tw-text-opacity));
  }
  .text-stroke-maya-blue {
    -webkit-text-stroke-color: rgb(106 219 255 / var(--tw-text-opacity));
  }
  .text-stroke-black-pearl {
    -webkit-text-stroke-color: rgb(13 17 21 / var(--tw-text-opacity));
  }
}
