@use '../partials/colors';
@use '../partials/breakpoints';

.top_button {
  background-color: colors.$black-pearl-lite;

  @media screen and (min-width: breakpoints.$x-small) {
    bottom: 20px;
    left: 20px;
  }

  &:hover {

    p {
      color: colors.$black-pearl;
    }
  }

  &:active {
    background-color: red;

    p {
      color: white;
    }

    svg {
      color: colors.$black-pearl;
    }
  }

  > a {
    > svg {
      color: red;
      height: 15px;

      @media screen and (min-width: breakpoints.$x-small) {
        height: 1rem;
      }
    }

    > p {
      @media screen and (min-width: breakpoints.$x-small) {
        font-size: 16px;
      }
    }
  }
}
