@use '../partials/colors';
@use '../partials/fonts';

.section {
  display: flex;
  flex-direction: column;
  padding: 10% 0;

  form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
    max-width: 800px;

    > p {
      text-align: center;
      margin: 24px;
    }

    .toprow {
      display: flex;
      justify-content: space-between;

      > div {
        width: 49%;
      }
    }

    .subject > div {
      width: 100%;
    }

    .message {
      position: relative;
      font-family: fonts.$Roboto;

      &::before {
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
        pointer-events: none;
      }

      &::after {
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        transform: scaleX(0);
        transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        border-bottom: 2px solid #3f51b5;
        pointer-events: none;
      }

      &:hover::before {
        border-bottom: 2px solid rgba(0, 0, 0, 0.87);
      }

      &:focus-within::after {
        transform: scaleX(1);
      }

      > textarea {
        background-color: colors.$black-pearl-lite;
        color: white;
        display: block;
        padding: 10px;
        width: 100%;

        &:focus-visible {
          outline: none;
        }

        &::placeholder {
          color: rgba(white, 0.42);
        }
      }
    }

    > .toprow,
    .subject,
    .message {
      margin: 5px 0;

      > div > div {
        background-color: colors.$black-pearl-lite;
        color: white;
        height: 45px;
        padding: 0px 10px;
      }
    }

    > .send {
      background-color: colors.$black-pearl-lite;
      border-radius: 0;
      border: 1px white solid;
      height: 40px;
      margin: 8px 0;
      text-transform: none;
    }
  }
}
