@use '../partials/colors';
@use '../partials/breakpoints';

.section {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 75);

  @media screen and (min-width: breakpoints.$large) {
    height: 646px;
  }

  .card {
    background-color: colors.$black-pearl-lite;
    min-height: 72px;
    margin: 12px 0;

    @media screen and (min-width: breakpoints.$medium) {
      margin: 24px calc(3% + 84px) 24px 24px;
    }

    @media screen and (min-width: breakpoints.$large) {
      margin-right: calc(4% + 94px);
    }

    &:first-of-type {
      @media screen and (min-width: breakpoints.$large) {
        height: 55%;
      }
    }

    .site_image {
      position: relative;
      height: calc(var(--vh, 1vh) * 25);
      margin: 0 4%;
      overflow: hidden;

      @media screen and (min-width: breakpoints.$large) {
        margin: 0;
        height: 100%;
        width: 50%;
        float: left;
        clip-path: polygon(0% 0%, 95% 0%, 65% 100%, 0% 100%);
        shape-outside: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
      }

      > a {
        &::after {
          align-items: center;
          background: url('../../public/photos/verdes2.png') rgba(0, 0, 0, 0.5);
          background-blend-mode: soft-light;
          background-size: cover;
          color: white;
          content: 'Visit Site ➔';
          display: flex;
          font-size: 32px;
          font-weight: 600;
          height: 100%;
          justify-content: center;
          position: absolute;
          text-decoration: underline;
          text-shadow: 3px 3px 4px colors.$black-pearl;
          transform: translateY(-100%);
          transition: transform 150ms ease-in-out 0s;
          width: 100.3%;

          @media screen and (min-width: breakpoints.$large) {
            padding: 0 25%;
            justify-content: flex-start;
          }
        }

        &:hover::after {
          transform: translateY(0);
        }
      }
    }

    .paragraphs {
      padding: 8px 20px;
      font-size: 0.9375rem;

      @media screen and (min-width: breakpoints.$x-small) {
        font-size: 1rem;
      }

      @media screen and (min-width: breakpoints.$small) {
        padding: 8px 36px;
      }

      > div {
        display: flex;
        justify-content: center;
        margin: 8px 0px 12px;

        @media screen and (min-width: breakpoints.$large) {
          margin: 0;
        }

        h3 {
          text-shadow: 2px 2px red;

          &:hover,
          &:active {
            color: red;
            text-shadow: 2px 2px colors.$white-smoke;
          }
        }
      }

      li {
        margin: 1% 0 2% 0;
      }
    }
  }
}
