@use '../partials/breakpoints';
@use '../partials/colors';

.anchor {
  position: fixed;
  top: 14vh;
  right: 3%;
  width: 100px;

  @media screen and (max-width: breakpoints.$medium) {
    position: initial;
  }

  > li.link {
    .activeLink > p {
      background-color: colors.$white-smoke;
      color: red;
    }

    p {
      cursor: pointer;
      padding: 12px;
      text-align: center;
      font-weight: 500;
      background-color: colors.$black-pearl-lite;

      &:hover {
        background-color: red;
        color: colors.$white-smoke;
      }
    }
  }
}
