@use '../partials/breakpoints';
@use '../partials/colors';

.anchor {
  position: initial;
  top: 14vh;
  right: 2%;
  font-size: 0.875rem;
  font-weight: 500;

  @media screen and (min-width: breakpoints.$medium) {
    position: fixed;
  }

  @media screen and (min-width: breakpoints.$large) {
    right: 3%;
    font-size: 1rem;
  }

  > li.link {
    .activeLink > p {
      background-color: colors.$white-smoke;
      color: red;
    }

    p {
      cursor: pointer;
      padding: 12px;
      text-align: center;
      background-color: colors.$black-pearl-lite;

      &:hover {
        background-color: red;
        color: colors.$white-smoke;
      }
    }
  }
}
