@use '../partials/colors.scss';
@use '../partials/breakpoints.scss';

.section {
  min-height: calc(var(--vh, 1vh) * 66);

  > .skills_container {
    background-color: colors.$black-pearl-lite;

    @media screen and (min-width: breakpoints.$medium) {
      background-color: initial;
      margin: 0 calc(3% + 84px);
    }

    @media screen and (min-width: breakpoints.$large) {
      margin: 0 calc(4% + 94px);
    }

    @media screen and (min-width: breakpoints.$x-large) {
      justify-content: center;
    }

    > .skill {
      background-color: colors.$black-pearl-lite;

      @media screen and (min-width: breakpoints.$small) {
        margin: 12px;
      }

      @media screen and (min-width: breakpoints.$medium) {
        padding: 8px 0;
      }

      @media screen and (min-width: breakpoints.$x-large) {
        padding: 12px 0;
        margin: 32px;
      }

      > div {
        @media screen and (min-width: breakpoints.$small) {
          height: initial;
        }

        > div {
          width: 64px;

          @media screen and (min-width: breakpoints.$small) {
            width: 72px;
          }

          @media screen and (min-width: breakpoints.$large) {
            width: initial;
          }
        }

        .nextjs {
          background-color: white;
          padding: 2px !important;
        }
      }

      > p {
        max-width: 80px;

        @media screen and (min-width: breakpoints.$small) {
          font-size: 1rem;
          max-width: initial;
        }

        @media screen and (min-width: breakpoints.$medium) {
          max-width: 92px;
        }

        @media screen and (min-width: breakpoints.$large) {
          max-width: initial;
        }
      }
    }
  }
}
