@use 'partials/fonts';
@use 'partials/colors';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: fonts.$Mont;
}

h1,
h2,
h3,
h4,
span,
p {
  color: colors.$white-smoke;
}
