@use 'partials/fonts';

.placeholder {
  font-family: fonts.$Droid;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_container {
  height: 100vh; //change to vh units later
  display: flex;
  flex-direction: column;
  justify-content: center;

  .profile {
    background-color: rgba(royalblue, 0.1);
    padding: 20px;
    min-width: 600px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .photo_container {
      background-color: white;
      padding: 5px;
      border-radius: 50%;
      display: inherit;
      border: solid black 1px;

      .photo {
        border-radius: 50%;
      }
    }
  }
}

.resume {
  h1 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
  }

  .experience {
    > div {
      background-color: rgba(royalblue, 0.1);
      padding: 20px;
      min-width: 600px;
      border-radius: 50px;
      margin: 20px 0;
    }
  }

  .education {
    > div {
      background-color: rgba(darkgreen, 0.1);
      padding: 20px;
      min-width: 600px;
      border-radius: 50px;
      margin: 20px 0;
    }
  }
}
