@use 'partials/breakpoints';
@use 'partials/colors';
@use 'partials/fonts';

.main {
  background-color: colors.$black-pearl;

  .profile_container {
    height: calc(var(--vh, 1vh) * 100);

    @media screen and (min-height: breakpoints.$x-small) {
      justify-content: center;
    }

    @media screen and (min-width: breakpoints.$medium) and (min-height: breakpoints.$x-small) {
      left: 70px;
      width: fit-content;
    }

    .profile {
      background-color: rgba(colors.$black-pearl, 0.95);
      padding: 20px 6.5% 20px 6.5%;
      box-shadow: 4px 4px 2px red;

      @media screen and (min-width: breakpoints.$medium) {
        padding: 20px;
      }

      > .name {
        @media screen and (min-width: breakpoints.$x-small) {
          font-size: 3.75rem;
        }

        @media screen and (min-width: breakpoints.$small) {
          font-size: 4.5rem;
        }
      }

      > h2 {
        white-space: break-spaces;

        @media screen and (min-width: breakpoints.$x-small) {
          font-size: 1.125rem;
          line-height: 1.75rem;
        }

        @media screen and (min-width: breakpoints.$small) {
          font-size: 1.25rem;
        }
      }

      .typed {
        text-shadow: 3px 3px red;
      }
    }
  }
}
